# Build & dependency artifacts
target/
*.jar
*.war

# Version control & IDE
.git/
.gitignore
.github/
.idea/
*.iml
*.ipr
*.iws

# Test files & temporary I/O
*.txt
*.tmp
*.cce
data/

# OS-specific
.DS_Store
Thumbs.db

# Documentation & Markdown
*.md
images/

# Environment & Secrets
.env
.env.*
!.env.example